body {
  color: white;
  background-color: rgb(35, 36, 54);
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;

}

a {
  color: white;
  text-decoration: none;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(247, 243, 243);

}

.center {
  text-align: center;
}

header  { 
  margin: auto;
 
  text-align: center;
}

footer img {
  width: 40px;
  height: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  margin: 20px;
  text-align: center;
}

main {
  max-width: 650px;
  margin: auto;
  border: 10px;
}

header h1 {
  color: red;
}



